header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 0 0 20px #162938;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
  }
  
  .navigation a {
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
  }
  
  .navigation a:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
  }