.postCard{
    width: 400px;
    height: 500px;
    margin-top: 40px;
    margin-left: 50px;
    background-color: rgba(210, 230, 234, 0.394);
    border-radius: 6px;
    border: solid 1px rgba(218, 226, 230, 0.884);
    box-shadow: 0 0 20px rgba(241, 248, 255, 0.617);
    justify-content: center;
    color: rgb(231, 136, 228);
}